/** footerを最下部に固定するための設定 **/
.body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}
.footer_fixer {
    flex: 1;
}

/** 要素 **/
body {
    display: block;
    margin: 0;
}

header {
    display: block;
}

footer {
    display: block;
}

img {
    border-style: none;
}

a {
    background-color: transparent;
}

button, input, select, textarea {
    border-style: none;
}

button {
    color: inherit;
}

button, select {
    text-transform: none;
}

button {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    font: inherit;
}

h2 {
    display: block;
    font-size: 24px;
    margin-block-start: 13.28px;
    margin-block-end: 13.28px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 18.72px;
    margin-block-start: 16px;
    margin-block-end: 16px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 16px;
    margin-block-end: 16px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ul ul {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

section {
    display: block;
}

/** フッター **/
footer {
    width: 100%;
    height: 150px;
    margin-top: 50px;
    padding-top: 30px;
    background: #75a9ff;
    color: #ffffff;
}

.footer-body {
    margin: 0 2.8550512445vw 3.7818448023vw 3.2942898975vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-body_logo {
    width: 30.6412884334vw;
}
#safire_mark {
    width: 5%;
    height: 5%;
}
#safire_logo {
    width: 20%;
    height: 20%;
}
.footer-body_logo p {
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
}

/** 左側 **/

/** ホームメイン **/
.main {
    width: 100%;
    padding: 120px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-main {
    margin-top: 20px;
    padding: 0 0 0 0px;
}

.login-main_card {
    width: 700px;
    height: 470px;
    padding: 40px 40px 40px 40px;
    position: relative;
    text-align: center;
    background: #ffffff;
    border-radius: 16px;
    border: 6px solid #136fff;
    color: #757575;
}

.login-main h2 {
    font-size: 30px;
}

.login-main_title {
    margin: 0 0 10px 0;
    position: relative;
    text-align: center;
}

.login-userid{
    margin: 20px 20px 40px 20px;
    position: relative;
    top: 10px;
}

.login-userid_title p {
    margin-bottom: 5px;
    font-size: 25px;
    text-align: left;
}

.login-userid_input {
    width: 500px;
    height: 50px;
    align-items: left;
    border-radius: 5px;
    border: 3px solid #757575;
    outline: 0;
}
.login-userid_input:focus {
    border: 3px solid #ff9900;
}

.login-passwd {
    margin: 0px 20px 40px 20px;
}

.login-passwd_title p {
    margin-bottom: 5px;
    font-size: 25px;
    text-align: left;
}

.login-passwd_input {
    width: 500px;
    height: 50px;
    align-items: left;
    border-radius: 5px;
    border: 3px solid #757575;
    outline: 0;
}
.login-passwd_input:focus {
    border: 3px solid #ff9900;
}

.login-send {
    width: 500px;
    height: 70px;
    margin: 20px 0px 0px 0px;
    align-items: left;
    color: #ffffff;
    background-color: #136fff;
    border-radius: 10px;
    font-size: 20px;
}
.login-send:hover {
    cursor: pointer;
    opacity: 0.5;
}
/*.login-send a {
    color: #ffffff;
    text-decoration: none;
}*/