<ion-content>
    <div class="body">

        <app-header></app-header>

        <div class="main">
            <section class="login-main">
                <div class="login-main_card">
                    <h2 class="login-main_title">ログインページ</h2>
                    <hr color="#136fff">
                    <form>
                        <div class="login-userid">
                            <div class="login-userid_title">
                                <p>ユーザID</p>
                            </div>
                            <input type="text" value="" class="login-userid_input" name='user_id' [(ngModel)]='user_id'>
                        </div>
                        <div class="login-passwd">
                            <div class="login-passwd_title">
                                <p>パスワード</p>
                            </div>
                            <input type="password" value="" class="login-passwd_input" name='password' [(ngModel)]='password'>
                        </div>
                        <div>
                            <ion-button class="login-send" (click)="login()">ログイン</ion-button>
                        </div>
                    </form>
                </div>
            </section>
        </div>

        <!-- .bodyとの組み合わせでフッターを最下部に固定するためのdiv -->
        <div class="footer_fixer"></div>

        <!-- フッター -->
        <footer>
            <div class="footer-body">
                <div class="footer-body_logo">
                    <div class="display_flex">
                        <img id="safire_mark" src="/assets/img/safire.png" alt="safireマーク">
                        <img id="safire_logo" src="/assets/img/safire_logo.png" alt="SaFireロゴ">
                    </div>
                    <p>宝石である「あなたの挑戦」をさらに磨き上げる！</p>
                </div>
            </div>
        </footer>
    </div>
</ion-content>