<ion-content>
  <div>
    <!-- ヘッダー -->
    <app-header></app-header>
    <div class="home-main">
      <div>
        <!-- 評価 -->
        <div>
          <div class="target-header"><ruby>発表目標<rt>はっぴょうもくひょう</rt></ruby></div>
            <div class="target-container">　　<ruby><rt></rt></ruby>
              <div class="target-block">
                <div class="target-title ion-padding"><ion-icon name="happy-outline"></ion-icon>スマイル<ruby>目標<rt>もくひょう</rt></ruby></div>
                <div class="target-text ion-padding"><span [innerHTML]="status_list[0]"></span></div>
                <div class="target-text__sub ion-padding"><ruby>目標回数<rt>もくひょうかいすう</rt></ruby>: {{smile_times}}<ruby>回以上<rt>かいいじょう</rt></ruby></div>
              </div>

              <div class="target-block">
                <div class="target-title ion-padding">
                  <ion-icon name="color-fill-outline"></ion-icon>フィラー<ruby>目標<rt>もくひょう</rt></ruby>
                  <app-hint [hint]="hint"></app-hint></div>
                <div class="target-text ion-padding"><span [innerHTML]="status_list[1]"></span></div>
                <div class="target-text__sub ion-padding"><ruby>目標回数<rt>もくひょうかいすう</rt></ruby>: {{filler_times}}<ruby>回未満<rt>かいみまん</rt></ruby></div>
              </div>

              <div class="target-block">
                <div class="target-title ion-padding"><ion-icon name="sad-outline"></ion-icon>ネガティブ<ruby>目標<rt>もくひょう</rt></ruby></div>
                <div class="target-text ion-padding"><span [innerHTML]="status_list[2]"></span></div>
                <div class="target-text__sub ion-padding"><ruby>目標回数<rt>もくひょうかいすう</rt></ruby>: {{negative_times}}<ruby>回未満<rt>かいみまん</rt></ruby></div>
              </div>

              <div class="target-block">
                <div class="target-title ion-padding"><ion-icon name="hourglass-outline"></ion-icon><ruby>発表時間目標<rt>はっぴょうじかんもくひょう</rt></ruby></div>
                <div class="target-text ion-padding"><span [innerHTML]="status_list[3]"></span></div>
                <div class="target-text__sub ion-padding"><ruby>目標回数<rt>もくひょうかいすう</rt></ruby>: {{time_min}}<ruby>分<rt>ふん</rt></ruby>{{time_sec}}<ruby>秒<rt>びょう</rt></ruby></div>
              </div>
            </div>
            <div class="target-container">
              <div class="target-block">
                <div class="target-title ion-padding"><ion-icon name="barbell-outline"></ion-icon><ruby>練習回数<rt>れんしゅうかいすう</rt></ruby></div>
                <div class="target-text ion-padding">{{practice_times}}</div>
              </div>
            </div>

            <div class="target-button-container">
              <div class="target-button-wide">
                <ion-button expand="block" fill="outline" class="target-button ion-padding" (click)="presentModal()"><span><ruby>目標<rt>もくひょう</rt></ruby>を<ruby>設定<rt>せってい</rt></ruby></span></ion-button>
              </div>
              <div class="target-button-wide">
                <ion-button expand="block" class="target-button ion-padding" (click)="toFeedback()"><span><ruby>練習<rt>れんしゅう</rt></ruby>モードを<ruby>開始<rt>かいし</rt></ruby></span></ion-button>
              </div>
              <div class="target-button-wide">
                <ion-button expand="block" fill="outline" class="target-button ion-padding" color="secondary" (click)="toArticle()"><span>プロジェクトページに<ruby>戻<rt>もど</rt></ruby>る</span></ion-button>
              </div>
            </div>
        </div>
      </div>

      <div class="dashboard">
        <h2>あなたの<ruby>成長<rt>せいちょう</rt></ruby></h2>
        <ion-grid>
          <ion-row>
            <ion-col>
            <ion-card class="dashboard-canvas">
              <p>スマイルの<ruby>回数<rt>かいすう</rt></ruby></p>
              <canvas #smileCanvas></canvas>
            </ion-card>
            </ion-col>
            <ion-col>
              <ion-card class="dashboard-canvas">
                <p>フィラーの<ruby>回数<rt>かいすう</rt></ruby></p>
                <canvas #fillerCanvas></canvas>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-card class="dashboard-canvas">
                <p>ネガティブの<ruby>回数<rt>かいすう</rt></ruby></p>
                <canvas #negativeCanvas></canvas>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-card class="dashboard-canvas">
                <p><ruby>目標発表時間<rt>もくひょうはっぴょうじかん</rt></ruby>との<ruby>差<rt>さ</rt></ruby></p>
                <canvas #timeCanvas></canvas>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    
    <footer>
      <div class="footer-body">
          <div class="footer-body_logo">
              <div class="display_flex">
                  <img id="safire_mark" src="/assets/img/safire.png" alt="safireマーク">
                  <img id="safire_logo" src="/assets/img/safire_logo.png" alt="SaFireロゴ">
              </div>
              <p>宝石である「あなたの挑戦」をさらに磨き上げる！</p>
          </div>
      </div>
    </footer>
  </div>
</ion-content>
