<!-- <ion-header>
  <ion-toolbar>
    <ion-title>title</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]=true>
  <!--
  <div class="div_main">
    <h1>技術の工夫</h1>
    <p>
      ここが凄いんだぁぁぁ！ヒャッハーー！
    </p>
  </div>
  <div class="div_img">
    <img src="/assets/img/project_img_none.png">
  </div>
-->

  <div class="div_main">
    <h1>技術の工夫</h1>
    <ng-container *ngFor="let abstract of abstract_list" class="ion-padding">
      <div class="ion-padding abstract-text">
        {{abstract}}
      </div>
    </ng-container>
  </div>
  <div [style.background]="background" class="div_img">
    <img [src]="thumbnail">
  </div>
</ion-content>
