<ion-content>
  <ion-list>
    <ion-list-header><ion-label><span>アドバイスと<ruby>利用方法<rt>りようほうほう</rt></ruby></span></ion-label></ion-list-header>
    <ion-item button (click)="presentModalPresentation('<ruby>発表<rt>はっぴょう</rt></ruby>とは')"><ion-label><span><ruby>発表<rt>はっぴょう</rt></ruby>とは</span></ion-label></ion-item>
    <ion-item button (click)="presentModalUse('アプリの<ruby>使<rt>つか</rt></ruby>い<ruby>方<rt>かた</rt></ruby>')"><ion-label><span>アプリの<ruby>使<rt>つか</rt></ruby>い<ruby>方<rt>かた</rt></ruby></span></ion-label></ion-item>
    <ion-item button (click)="presentModalPost('<ruby>作品投稿方法<rt>さくひんとうこうほうほう</rt></ruby>')"><ion-label><span><ruby>作品投稿方法<rt>さくひんとうこうほうほう</rt></ruby></span></ion-label></ion-item>
    <ion-item button (click)="presentModalPostResult('<ruby>発表資料確認方法<rt>はっぴょうしりょうかくにんほうほう</rt></ruby>')"><ion-label><span><ruby>発表資料確認方法<rt>はっぴょうしりょうかくにんほうほう</rt></ruby></span></ion-label></ion-item>
    <ion-item button (click)="presentModalPractice('<ruby>練習<rt>れんしゅう</rt></ruby>モードの<ruby>使<rt>つか</rt></ruby>い<ruby>方<rt>かた</rt></ruby>')"><ion-label><span><ruby>練習<rt>れんしゅう</rt></ruby>モードの<ruby>使<rt>つか</rt></ruby>い<ruby>方<rt>かた</rt></ruby></span></ion-label></ion-item>
    <ion-item button (click)="presentModalTips('<ruby>練習<rt>れんしゅう</rt></ruby>のコツ')"><ion-label><span><ruby>練習<rt>れんしゅう</rt></ruby>のコツ</span></ion-label></ion-item>
    <ion-item button (click)="presentModalScore('<ruby>練習<rt>れんしゅう</rt></ruby>のスコア')"><ion-label><span><ruby>練習<rt>れんしゅう</rt></ruby>のスコア</span></ion-label></ion-item>
    <ion-item id="close" button (click)="closePopover()"><ion-label><span><ruby>閉<rt>と</rt></ruby>じる</span></ion-label></ion-item>
  </ion-list>
</ion-content>