<ion-content [fullscreen]="true">
    <div>
        <!-- ヘッダー -->
        <header class="header">
            <div class="header-main">
                <div class="header-main_logo">
                    <img src="/assets/img/safire_logo_header.png" alt="SaFireロゴ">
                </div>
                <div *ngIf="login_flag" class="header-main_menu">
                    <ion-button class="header-main_menu_logout" (click)='logout()'>ログアウト</ion-button>
                </div>
                <div *ngIf="!login_flag" class="header-main_menu">
                    <ion-button class="header-main_menu_signup" (click)='signup()'>新規登録</ion-button>
                    <ion-button class="header-main_menu_login" (click)='login()'>ログイン</ion-button>
                </div>
            </div>
        </header>
        <!-- メインパーツ -->
        <div class="home-main">
            <!-- メニュー欄 -->
            <div *ngIf="login_flag" class="home-left">
                <ul class="home-left_list">
                    <li>
                        <div class="tomypage-card" (click)='toMypage()'>
                            <div class="tomypage-card_icon">
                                <img src="/assets/img/user_ex_icon.jpg">
                            </div>
                            <div class="tomypage-card_title">
                                <p>マイページ</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="new-project" (click)="toNewProject()">
                            <img src="assets/img/pencil.png">
                            <P>作品を投稿</P>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- 中央 -->
            <section class="recommended-user-list">
                <ng-container *ngIf="login_flag">
                    <h2 class="recommended-user-list_title">おすすめのユーザ</h2>
                    <div class="recommended-user-list_content">
                        <div class="recommended-users">
                            <ion-row class="recommended-users-list">
                                <ng-container *ngFor="let user of recommend_user">
                                    <ion-card class="user-card" (click)='toUserPage(user.name)'>
                                        <div class="user-card_icon">
                                            <img src="/assets/img/user_ex_icon.jpg">
                                        </div>
                                        <ul class="user-card_profile">
                                            <li class="user-card_name">
                                                <p>{{user.name}}</p>
                                            </li>
                                            <li class="user-card_tags">
                                                <!--<p>タグ: <span *ngFor="let tag of user.top_tag">{{tag}}</span></p>-->
                                                <!--<p>タグ: <span>{{user.top_tag}}</span></p>-->
                                                <ion-chip>
                                                    <ion-label>{{user.top_tag}}</ion-label>
                                                </ion-chip>
                                            </li>
                                        </ul>
                                    </ion-card>
                                </ng-container>
                            </ion-row>
                        </div>
                    </div>
                </ng-container>

                <h2 class="recommended-project-list_title">おすすめ記事</h2>
                <div class="recommended-project-list_content" (click)="changeRankingDisplay()">
                    <div class="recommended-users">
                        <button expand="block">{{ranking_display}}</button>
                    </div>
                </div>
            </section>

            <section class="project-list">
                <h2 class="project-list_title">みんなの作品</h2>
                <div class="project-list_content">
                    <div class="projects">
                        <div *ngFor='let project of project_list'>
                            <ion-card class="project-card" [style.background]="'#'+project['color']" (click)="toArticlePage(project['id'])">
                                <div class="project-card_thumnail">
                                    <img [src]="project['thumbnail']">
                                </div>
                                <h3 class="project-card_title">{{project['title']}}</h3>
                                <div class="project-card_tags">
                                    <ng-container *ngFor="let tag of project['tag_list']">
                                        <ion-chip>
                                            <ion-label>{{tag}}</ion-label>
                                        </ion-chip>
                                    </ng-container>
                                </div>
                                <div class="project-card_user">
                                    <p>{{project['user_id']}}</p>
                                </div>
                                <div class="project-card_created">
                                    <p>{{project['created_at'].split('T')[0]}}</p>
                                </div>
                                <div class="project-card_promotion">
                                    <p>{{project['description']}}</p>
                                </div>
                            </ion-card>
                        </div>
                    </div>
                </div>
            </section>
            
            <div *ngIf="ranking_flag">
                <!-- ランキング -->
                <div class="view-ranking">
                    <h3 class="view-ranking_title">閲覧数ランキング</h3>
                    <ion-col class="view-ranking_list">

                        <div *ngFor="let project of ranking_project" class="ranking-card">
                            <div class="ranking-card_rank">
                                <img [src]="project.img">
                            </div>
                            <div class="ranking-card_desc" (click)='toArticlePage(project.id)'>
                                <ul class="ranking-card_project">
                                    <li class="ranking-card_name">
                                        <p>{{project.name}}</p>
                                    </li>
                                    <div class="ranking-project_tags">
                                        <ng-container *ngFor="let tag of project.tag_list">
                                            <ion-chip>
                                                <ion-label>{{tag}}</ion-label>
                                            </ion-chip>
                                        </ng-container>
                                    </div>
                                </ul>
                            </div>
                        </div>

                    </ion-col>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="footer-body">
                <div class="footer-body_logo">
                    <div class="display_flex">
                        <img id="safire_mark" src="/assets/img/safire.png" alt="safireマーク">
                        <img id="safire_logo" src="/assets/img/safire_logo.png" alt="SaFireロゴ">
                    </div>
                    <p>宝石である「あなたの挑戦」をさらに磨き上げる！</p>
                </div>
            </div>
        </footer>
    </div>
</ion-content>
