/** footerを最下部に固定するための設定 **/
.body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}
.footer_fixer {
    flex: 1;
}

/** 便利 **/
.display_flex {
    display: flex;
}

.center {
    display: flex;
    align-items: center;
}

/** フッター **/
footer {
    width: 100%;
    height: 150px;
    margin-top: 50px;
    padding-top: 30px;
    background: #75a9ff;
    color: #ffffff;
}

.footer-body {
    margin: 0 2.8550512445vw 3.7818448023vw 3.2942898975vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-body_logo {
    width: 30.6412884334vw;
}
#safire_mark {
    width: 5%;
    height: 5%;
}
#safire_logo {
    width: 20%;
    height: 20%;
}
.footer-body_logo p {
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
}

/** ホームメイン **/
.home-main {
    width: 1000px;
    margin: 100px auto;
    justify-content: center;
}

.recommended-user-list_title {
    display: block;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.recommended-users {
    display: flex;
    justify-content: center;
}

.user-card {
    display: flex;
    width: 230px;
    height: 80px;
    border-radius: 16px;
    background: #eeeeee;
    box-shadow: 5px 5px 15px #bbbbbb, -5px -5px 15px #eeeeee;
    cursor: pointer;
}

.user-card_icon {
    width: 80px;
    height: 80px;
}
.user-card_icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.user-card_profile {
    margin: 3% 3% 3% 3%;
    padding-left: 0;
}

.user-card_name {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    padding: 0;
    margin-bottom: 8px;
}

/** マイページ,プロジェクト投稿画面遷移 **/
.home-left {
    width: 250px;
    height: 250px;
    padding: 13px 16px 21px;
    margin: 24px auto 0 40px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 108px;
    left: 0;
    background: #ddffff;
    border-radius: 16px;
    color: #757575;
}

.home-left_list {
    display: flex;
    padding-left: 0;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}
.home-left_list a {
    font-weight: bold;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
}

.tomypage-card {
    width: 220px;
    display: flex;
    margin: 5px 0;
}
.tomypage-card:hover {
    cursor: pointer;
}

.tomypage-card_icon {
    width: 80px;
    height: 70px;
    margin-bottom: 0%;
    margin-right: 0px;
}
.tomypage-card_icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.tomypage-card_title {
    display: flex;
    width: 170px;
    height: 70px;
    margin-bottom: 20px;
    margin-left: 10px;
    list-style: none;
}
.tomypage-card_title:hover {
    opacity: 0.5;
}
.tomypage-card_title p {
    margin: auto 20px;
    text-align: left;
    font-size: 20px;
}

.new-project {
    width: 220px;
    height: 50px;
    display: flex;
    margin: 5px 0;
    color: #ffffff;
    background-color: #136fff;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}
.new-project-color {
    background-color: #136fff;
}
.new-challenge-color {
    background-color: #ff8b0f;
}
.new-project:hover {
    opacity: 0.5;
    cursor: pointer;
}
.new-project img {
    margin-right: 5px;
    width: 22px;
    height: 22px;
}
.new-project p {
    font-size: 22px;
    margin-bottom: 0;
}

.article-card {
    &__image {
        height: 30px;
        object-fit: cover;
        border-radius: 50%;
    }
}

.recommended-project-list_title {
    margin: 40px 0 20px 0;
    position: relative;
    text-align: center;
}

.recommended-project-list_content {
    height: 80px;
}

/** みんなの作品 **/
.project-list {
    margin: 40px 0 0 0;
}

.project-list_title {
    margin: 0 0 20px 0;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    text-align: center;
}

.project-list_content {
    display: flex;
<<<<<<< HEAD
    justify-content: center;
=======
>>>>>>> 940dd32 (first commit at feature/home_refact)
    flex-wrap: wrap;
}

.project-card {
    width: 300px;
    height: 400px;
    margin-bottom: 50px;
    padding-left: 0;
    border-radius: 16px;
    background: #eeeeee;
    box-shadow: 5px 5px 15px #bbbbbb, -5px -5px 15px #eeeeee;
    list-style: none;
    transform: .3s;
}
.project-card:hover {
    cursor: pointer;
}

.project-card_thumnail {
    width: 100%;
    height: 50%;
    margin-bottom: 0%;
}
.project-card_thumnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}

.project-card_title {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #75a9ff;
    font-size: 18px;
    font-weight: bold;
}

.project-card_tags {
    height: 40px;
    display: flex;
    justify-content: center;
}

.project-card_user {
    font-size: 15px;
    margin: 5px auto 0 10px;
}

.project-card_created {
    display: flex;
    justify-content: right;
    margin: 0 10px 0 auto;
}

.project-card_promotion {
    margin: 5px 10px auto 10px;
    font-size: 12px;
}

/** 閲覧数ランキング **/
.view-ranking {
    margin: 40px 0 20px 0;
}

.view-ranking_title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.view-ranking_content {
    display: flex;
    justify-content: center;
}

.ranking-card {
    display: block;
    width: 230px;
    height: 80px;
    border-radius: 16px;
    background: #eeeeee;
    box-shadow: 5px 5px 15px #bbbbbb, -5px -5px 15px #eeeeee;
    cursor: pointer;
}

.ranking-card_name {
    margin: 5px 0 2px 5px;
    display: flex;
    height: 30px;
}
.ranking-card_name img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.ranking-card_name p {
    font-size: 20px;
    font-weight: bold;
    margin: 5px 0 0 10px;
}

.ranking-card_tags {
    display: flex;
    justify-content: center;
}