.div_main {
    float : left ;
    width : 50% ;
    height : 100% ;
    background : #ffffff ;
}
.div_main h1 {
    margin: 80px auto 40px auto;
    text-align: center;
    font-size: 60px;
}
.div_main p {
    margin-top: 100px;
    font-size: 20px;
    text-align: center;
}

.div_img {
    float : left ;
    width : 50% ;
    height : 100% ;
    background : #99ff99;
}
.div_img img {
    //width: 
    //height: 
    display: flex;
    margin: 10% auto;
    border: 15px solid #000000;
}

.display_flex {
    display: flex;
}

.abstract-text {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    line-height: 150%;
}