/** footerを最下部に固定するための設定 **/
.body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}
.footer_fixer {
    flex: 1;
}

/** 要素 **/
h2 {
    font-size: 24px;
    font-weight: bold;
}

/** 便利 **/
.display_flex {
    display: flex;
}

.display_block {
    display: block;
}

.center {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

/** フッター **/
footer {
    width: 100%;
    height: 150px;
    margin-top: 50px;
    padding-top: 30px;
    background: #75a9ff;
    color: #ffffff;
}

.footer-body {
    margin: 0 2.8550512445vw 3.7818448023vw 3.2942898975vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-body_logo {
    width: 30.6412884334vw;
}
#safire_mark {
    width: 5%;
    height: 5%;
}
#safire_logo {
    width: 20%;
    height: 20%;
}
.footer-body_logo p {
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
}

/** ホームメイン **/
.project {
    width: 900px;
    margin: 120px auto;
    justify-content: center;
    background-color: white;
}

.project hr {
    height: 2px;
    background-color: #bad3ff;
}

.project_title {
    margin: 0 0 4px 0;
    display: inline-block;
    font-size: 50px;
    border-bottom: 5px solid #75a9ff;
}

.btn-presentation {
    width: 250px;
    position: absolute;
    top: 120px;
    right: 20px;
    padding: 5px;
    border: 3px solid #dddddd;
}
.btn-presentation img {
    margin-right: 3px;
    width: 30px;
    height: 30px;
}
.btn-presentation ion-button {
    height: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 245px;
}

.project-main {
    height: 420px;
    display: flex;
    margin-bottom: 20px;
}

.project-main_content {
    width: 60%;
    margin: 32px 0 0 32px;
}

#project_description {
    width: 100%;
    border-style: none;
    background-color: #eeeeee;
    margin-bottom: 16px;
}

.project-main_thumbnails {
    width: 40%;
    margin: 32px 0 0 0;
    text-align: center;
    justify-content: center;
}

.btn-presentation {
    width: 271px;
    margin: 5px auto;
    border: 3px solid #dddddd;
}
.btn-presentation img {
    margin-right: 3px;
    width: 30px;
    height: 30px;
}
.btn-presentation ion-button {
    height: 45px;
    margin: 10px auto 10px auto;
    max-width: 245px;
}

#thumbnails {
    width: 271px;
    height: 186px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    top: 0;
    border: #414141 solid 5px;
}

.project-color {
    height: 35px;
    display: flex;
    margin-bottom: 16px;
}

.color {
    position: relative;
    width: 70px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 8px;
    text-align: center;
}

.tags {
    width: 100%;
    height: 150px;
    margin-top: 5px;
    flex-wrap: wrap;
    background-color: white;
    border: #bbbbbb solid 2px;
}

.project-detail {
    height: 280px;
    display: flex;
    margin-bottom: 0px;
}

.project-detail_title {
    margin: 30px 0 0 0;
    position: relative;
    text-align: center;
    text-decoration: underline;
}

.project-detail_content {
    width: 60%;
    margin: 32px 0 0 32px;
}
.project-detail_content textarea {
    width: 100%;
    height: 186px;
    outline: none;
    background-color: #eeeeee;
    margin-bottom: 16px;
}

.project-detail_thumbnails {
    width: 40%;
    margin: 32px 0 0 0;
    text-align: center;
    justify-content: center;
}

#detail_background_img {
    width: 271px;
    height: 186px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    top: 0;
    border: #414141 solid 5px;
}
#detail_point_img {
    width: 271px;
    height: 186px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    top: 0;
    border: #414141 solid 5px;
}
#detail_tech_img {
    width: 271px;
    height: 186px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    top: 0;
    border: #414141 solid 5px;
}

.icon_detail {
    width: 24px;
    height: 24px;
    margin: 30px 5px 0 0;
}

.note {
    width: 100%;
    background-color: #ffffff;
}