<!-- <ion-header>
  <ion-toolbar>
    <ion-title>feedback</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]=true>
  <ion-grid class="top_button_list">
    <ion-row>
      <ion-col *ngFor="let top_button of top_button_list; index as i">
        <ion-button class="top-button" expand="block" [fill]="top_button.fill" (click)="clickTopButton(i)">{{top_button.name}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row class="slides" *ngFor="let top_button of top_button_list; index as i">
      <ng-container *ngIf="top_button.flag">
        <ion-col *ngFor="let content of top_button['list']">
          <ion-card><span class="card-text" [innerHTML]="content"></span></ion-card>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>

  <div class="ion-padding analysis-text" [innerHTML]="text"></div>

  <ion-grid class="bottom-container">
    <ion-row>
      <ion-col size="4">
        <div class="camera-container">
          <video id="camera"></video>
        </div>
        <ion-button class="bottom-button" expand="block" [fill]="video_button_fill" (click)="changeCamera()">{{video_text}}</ion-button>
      </ion-col>

      <ion-col size="4">
        <p class="words-inspector ion-padding">スマイル: <span>{{smile_times}}</span>回</p>
        <p class="words-inspector ion-padding">フィラー: <span>{{filler_times}}</span>回</p>
        <p class="words-inspector ion-padding">ネガティブ: <span>{{negative_times}}</span>回</p>
      </ion-col>

      <ion-col size="4">
        <ion-grid>
          <ion-row class="ion-justify-content-start"><ion-col><ion-button class="bottom-button" expand="block" (click)="startPractice()">練習（録画）開始</ion-button></ion-col></ion-row>
          <ion-row class="ion-justify-content-center"><ion-col><ion-button class="bottom-button" expand="block" fill="outline" (click)="stopSpeech()">練習（録画）終了</ion-button></ion-col></ion-row>
          <ion-row class="ion-justify-content-end"><ion-col><ion-button class="bottom-button" color="secondary" expand="block" (click)="toDashboard()">ダッシュボードへ</ion-button></ion-col></ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
