<ion-header>
  <ion-toolbar>
    <ion-title><ion-icon name="golf-outline"></ion-icon>目標の設定</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (submit)="postTarget()">
    <ion-item>
      <ion-label position="stacked">目標スマイル回数（5秒に1回検知されます）</ion-label>
      <ion-input required type="number" placeholder="ここに入力: X回以上" [(ngModel)]="smile_times" name="smile_times"></ion-input>
      <ion-label position="stacked">目標フィラー回数</ion-label>
      <ion-input required type="number" placeholder="ここに入力: X回未満" [(ngModel)]="filler_times" name="filler_times"></ion-input>
      <ion-label position="stacked">目標ネガティブ回数</ion-label>
      <ion-input required type="number" placeholder="ここに入力: X回未満" [(ngModel)]="negative_times" name="negative_times"></ion-input>
      <ion-label position="stacked">目標発表時間（誤差30秒以内でクリア！）</ion-label>
      <ion-input required type="number" placeholder="ここに入力:（分）" [(ngModel)]="time_min" name="time_min"></ion-input>
      <ion-input required type="number" placeholder="ここに入力:（秒）" [(ngModel)]="time_sec" name="time_sec"></ion-input>
    </ion-item>
    <!--
    <div class="button-area">
      <button type="submit" id="post-article-button">投稿する</button>
    </div>
    -->
    <ion-button class="ion-padding" type="submit" expand="block">決定</ion-button>
    <ion-button class="ion-padding" expand="block" fill="outline" (click)="dismiss()">戻る</ion-button>
  </form>
</ion-content>
