/** footerを最下部に固定するための設定 **/
.body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}
.footer_fixer {
    flex: 1;
}

/** 要素 **/
body {
    display: block;
    margin: 0;
}

footer {
    display: block;
}

img {
    border-style: none;
}

a {
    background-color: transparent;
}

button, input, select, textarea {
    border-style: none;
}

button {
    color: inherit;
}

button, select {
    text-transform: none;
}

button {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    font: inherit;
}

h2 {
    display: block;
    font-size: 24px;
    margin-block-start: 13.28px;
    margin-block-end: 13.28px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 18.72px;
    margin-block-start: 16px;
    margin-block-end: 16px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 16px;
    margin-block-end: 16px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ul ul {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

section {
    display: block;
}

/** 便利 **/
.display_flex {
    display: flex;
}

.center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.text_center {
    text-align: center;
}

.display_right {
    display: flex;
    justify-content: right;
}

/** フッター **/
footer {
    width: 100%;
    height: 150px;
    margin-top: 50px;
    padding-top: 30px;
    background: #75a9ff;
    color: #ffffff;
}

.footer-body {
    margin: 0 2.8550512445vw 3.7818448023vw 3.2942898975vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-body_logo {
    width: 30.6412884334vw;
}
#safire_mark {
    width: 5%;
    height: 5%;
}
#safire_logo {
    width: 20%;
    height: 20%;
}
.footer-body_logo p {
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
}

/** ホームメイン **/
.home-main {
    width: 100%;
    margin: 120px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user_name {
    margin: 0 0 45px 0;
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 40px;
    border-bottom: 4px solid #75a9ff;
}

.user-info {
    width: 1000px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.user-info_icon {
    width: 50%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    text-align: center;
    position: relative;
    top: 0;
}

#user_icon {
    width: 150px;
    height: 150px;

}

.user-info_profile {
    width: 50%;
    margin: 0px 0 0 0px;
}

.user-card_profile_content {
    position: relative;
}
.user-card_profile_content h3 {
    position: absolute;
    top: 6px;

    width: 350px;
    text-align: center;
}
.user-card_profile_content hr {
    position: absolute;
    top: 10px;
}
.user-card_profile_content textarea {
    position: absolute;
    top: 60px;
    left: 50px;

    width: 260px;
    height: 145px;
    outline: none;
    background-color: #ffffff;
}
.user-card_profile_content img {
    width: 350px;
    height: 240px;
}


/** おすすめのユーザ **/
.recommended-user-list {
    padding: 0 0 0 90px;
}

.recommended-user-list_title {
    margin: 0 0 45px 0;
    position: relative;
    text-align: center;
}

.recommended-user-list_content {
}

/** みんなの作品 **/
/*.project-list {
    width: 1000px;
    padding: 30px 0 0 90px;
}

.project-list_title {
    margin: 0 0 45px 0;
    position: relative;
    text-align: left;
}

.project-list_content {
    width: 1000px;
    display: flex;
    justify-content: center;
}

.projects {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
}

.projects-list {
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

.project-card {
    width: 300px;
    height: 400px;
    margin-bottom: 50px;
    padding-left: 0;
    border-radius: 16px;
    background: #eeeeee;
    box-shadow: 5px 5px 15px #bbbbbb, -5px -5px 15px #eeeeee;
    list-style: none;
    transform: .3s;
}
.project-card:hover{
    cursor: pointer;
}

.project-card_thumnail {
    width: 100%;
    height: 50%;
    margin-bottom: 0%;
}
.project-card_thumnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}

.project-card_title {
    height: 13%;
    padding: 0 1% 0 1%;
    margin-top: 0;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #75a9ff;
}
.project-card_title h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 114px;
    color: rgba(0, 0, 0, 0.89);
}

.project-card_tags {
    width: 300px;
    height: 40px;
    margin-bottom: 0%;
    display: flex;
    justify-content: center;
}

.project-card_user {
    padding-left: 3%;
    display: flex;
    align-items: center;
}
.project-card_user p {
    margin-top: 0;
    margin-bottom: 0;
}

.project-card_created {
    width: 300px;
    height: 25px;
    display: flex;
    justify-content: right;
}
.project-card_created p {
    padding-right: 3%;
    margin-bottom: 5px;
}

.project-card_promotion {
    padding: 0 3%;
}
.project-card_promotion p {
    font-size: 12px;
    display: flex;
    text-align: left;
}

.project-card_date {
    padding: 0 3%;
    margin-bottom: 0;
    text-align: right;
}
.project-card_date p {
    margin: 0;
    font-size: 12px;
}*/
.project-list {
    width: 1000px;
    margin: 40px auto 0 auto;
}

.project-list_title {
    margin: 0 0 20px 0;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    text-align: center;
}

.project-list_content {
    display: flex;
    flex-wrap: wrap;
}

.project-card {
    width: 300px;
    height: 430px;
    margin-bottom: 50px;
    padding-left: 0;
    border-radius: 16px;
    background: #eeeeee;
    box-shadow: 5px 5px 15px #bbbbbb, -5px -5px 15px #eeeeee;
    list-style: none;
    transform: .3s;
}
.project-card:hover {
    cursor: pointer;
}

.project-card_thumnail {
    width: 100%;
    height: 50%;
    margin-bottom: 0%;
}
.project-card_thumnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}

.project-card_title {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #75a9ff;
    font-size: 18px;
    font-weight: bold;
}

.project-card_tags {
    height: 40px;
    display: flex;
    justify-content: center;
}

.project-card_user {
    font-size: 15px;
    margin: 5px auto 0 10px;
}

.project-card_created {
    display: flex;
    justify-content: right;
    margin: 0 10px 0 auto;
}

.project-card_promotion {
    margin: 5px 10px auto 10px;
    font-size: 12px;
}

/* プロジェクト参加の申請 */
.applied-user-list_content {
}

.applied-users {
    width: 800px;
}
.applied-users-list {
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}
.user-card {
    display: flex;
    width: 230px;
    height: 70px;
    margin-bottom: 20px;
    padding-left: 0;
    border-radius: 16px;
    background: #eeeeee;
    box-shadow: 5px 5px 15px #bbbbbb, -5px -5px 15px #eeeeee;
    list-style: none;
    transform: .3s;
    cursor: pointer;
}
.user-card_icon {
    width: 70px;
    height: 70px;
    margin-bottom: 0%;
}
.user-card_icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.user-card_profile {
    margin: 3% 0 3% 5%;
    padding-left: 0;
}
.user-card_name {
    // margin: 5px;
    display: flex;
    align-items: center;
}
.user-card_name p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}
.user-card_tags {
    display: flex;
    align-items: center;
}
.user-card_tags p {
    margin: 0;
}

.liked-project_dialog {
    height: 600px;
    width: 1000px;
    border: 10px solid #75a9ff;
    align-items: center;
    text-align: center;
}

.liked-project_dialog_title {
    color: #757575;
    text-align: center;
}

.liked-project_dialog_finish {
    height: 40px;
    margin-top: 20px;
    width: 300px;
    --background: #ffffff;
    font-size: 23px;
    --color: #deb887;
    --border-color: #deb887;
    --border-style: solid;
    --border-width: 5px;
    --border-radius: 5px;
    font-weight: bolder;
    
    
}
.liked-project_dialog_finish:hover  {
    cursor: pointer;
    opacity: 0.5;
}

.liked-project_dialog_content {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.liked_projects {
    width: 800px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.liked_project-card-list {
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

.liked_project-card {
    width: 300px;
    height: 450px;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 0;
    border-radius: 16px;
    background: #eeeeee;
    box-shadow: 5px 5px 15px #bbbbbb, -5px -5px 15px #eeeeee;
    list-style: none;
    transform: .3s;
}
.liked_project-card:hover{
    cursor: pointer;
}

.liked-project_content {
    height: 80px;
}

.btn_show_liked-project {
    width: 800px;
    display: flex;
    justify-content: center;
}
.btn_show_liked-project button {
    width: 700px;
    display: inline-block;
    padding: 12px 24px;
    font-weight: bold;
    border-radius: 4px;
    background-color: #9eaab6;
    box-shadow: 0px 2px 2px 1px #dcdcdc;
    border-bottom: solid 5px #778899;
    text-decoration: none;
    color: #fff;
}
.btn_show_liked-project button:active{
    box-shadow: none;
    position:relative;
    border-bottom:none;
    top:7px;
}

.achievement-container {
    width: 700px;
    display        : flex;                 /* FlexBox定義         */
    justify-content: center;               /* 揃えの定義          */
    flex-wrap      : wrap;                 /* 折り返し定義        */
    // --background: url('../../assets/svg/blurry-gradient-haikei.svg') no-repeat center center / cover;
    background-image: url('../../assets/svg/blurry-gradient-haikei.svg');
    background-size: cover;
    border-radius: 20px;
}
.achievement-block {
    width: 30%;
    height: 100px;
    margin: auto;
}
.achievement-title {
    font-size: 18px;
    font-weight: bold;
}
.achievement-text {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}