<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Signup</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
    <div>
        <div>
            <header class="header">
                <div class="header-main">
                    <a href="">
                        <div class="header-main_logo">
                            <img src="/assets/img/safire_logo_header.png" alt="SaFireロゴ">
                        </div>
                    </a>
                </div>
            </header>
            <div class="main">
                <section class="signup-main">
                    <div class="signup-main_card">
                        <h2 class="signup-main_title"><ruby>新規登録<rt>しんきとうろく</rt></ruby>ページ</h2>
                        <hr color="#136fff">
                        <form>
                            <div class="signup-userid">
                                <div class="signup-userid_title">
                                    <p>ユーザID</p>
                                </div>
                                <input type="text" value="" class="signup-userid_input" name='user_id' [(ngModel)]='user_id'>
                            </div>
                            <div class="signup-passwd">
                                <div class="signup-passwd_title">
                                    <p>パスワード</p>
                                </div>
                                <input type="password" value="" class="signup-passwd_input" name='password' [(ngModel)]='password'>
                            </div>
                            <div class="signup-passwd-confirm">
                                <div class="signup-passwd-confirm_title">
                                    <p>パスワード（<ruby>確認用<rt>かくにんよう</rt></ruby>）</p>
                                </div>
                                <input type="password" value="" class="signup-passwd-confirm_input" name="password_confirm" [(ngModel)]='password_confirm'>
                            </div>
                            <div class="signup-age">
                                <div class="signup-age_title">
                                    <p><ruby>年齢<rt>ねんれい</rt></ruby></p>
                                </div>
                                <input type="number" value="" class="signup-age_input" name="age" [(ngModel)]='age'>
                            </div>
                            <div class="signup-gender">
                                <div class="signup-gender_title">
                                    <p><ruby>性別<rt>せいべつ</rt></ruby></p>
                                </div>
                                <div class="signup-gender_radio">
                                    <input type="radio" name="signup_gender_radio" value="man" id="gender_man" [(ngModel)]='gender' [checked]="gender=='man'">
                                    <label for="gender_man"><ruby>男性<rt>だんせい</rt></ruby></label>
                                    <input type="radio" name="signup_gender_radio" value="woman" id="gender_woman" [(ngModel)]='gender' [checked]="gender=='woman'">
                                    <label for="gender_woman"><ruby>女性<rt>じょせい</rt></ruby></label>
                                    <input type="radio" name="signup_gender_radio" value="others" id="gender_others" [(ngModel)]='gender' [checked]="gender=='others'" checked>
                                    <label for="gender_others">その<ruby>他<rt>た</rt></ruby></label>
                                </div>
                            </div>
                            <div class="signup-school_grade">
                                <div class="signup-school_grade_title">
                                    <p><ruby>学校区分<rt>がっこうくぶん</rt></ruby></p>
                                </div>
                                <div class="signup-school_grade_radio">
                                    <input type="radio" name="signup-school_grade_radio" value="小学校" id="school_grade_1" [(ngModel)]='school_grade' [checked]="school_grade=='小学校'" checked>
                                    <label for="school_grade_1"><ruby>小学校<rt>しょうがっこう</rt></ruby></label>
                                    <input type="radio" name="signup-school_grade_radio" value="中学校" id="school_grade_2" [(ngModel)]='school_grade' [checked]="school_grade=='中学校'">
                                    <label for="school_grade_2"><ruby>中学校<rt>ちゅうがっこう</rt></ruby></label>
                                    <input type="radio" name="signup-school_grade_radio" value="高等学校" id="school_grade_3" [(ngModel)]='school_grade' [checked]="school_grade=='高等学校'">
                                    <label for="school_grade_3"><ruby>高等学校<rt>こうとうがっこう</rt></ruby></label>
                                    <input type="radio" name="signup-school_grade_radio" value="高専" id="school_grade_4" [(ngModel)]='school_grade' [checked]="school_grade=='高専'">
                                    <label for="school_grade_4"><ruby>高専<rt>こうせん</rt></ruby></label>
                                    <input type="radio" name="signup-school_grade_radio" value="大学" id="school_grade_5" [(ngModel)]='school_grade' [checked]="school_grade=='大学'">
                                    <label for="school_grade_5"><ruby>大学<rt>だいがく</rt></ruby></label>
                                    <input type="radio" name="signup-school_grade_radio" value="社会人" id="school_grade_6" [(ngModel)]='school_grade' [checked]="school_grade=='社会人'">
                                    <label for="school_grade_6"><ruby>社会人<rt>しゃかいじん</rt></ruby></label>
                                </div>
                            </div>
                            <div class="signup-profile">
                                <div class="signup-profile_title">
                                    <p><ruby>自己紹介<rt>じこしょうかい</rt></ruby></p>
                                </div>
                                <textarea id='description' class="signup-profile_input" name="description" [(ngModel)]='description'></textarea>
                            </div>

                            <ion-button class="signup-send" (click)='signup()'><ruby>新規登録<rt>しんきとうろく</rt></ruby></ion-button>
                        </form>
                    </div>
                </section>
            </div>
            <footer class="footer">
                <div class="footer-body">
                    <div class="footer-body_logo">
                        <div class="display_flex">
                            <img id="safire_mark" src="/assets/img/safire.png" alt="safireマーク">
                            <img id="safire_logo" src="/assets/img/safire_logo.png" alt="SaFireロゴ">
                        </div>
                        <p>宝石である「あなたの挑戦」をさらに磨き上げる！</p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</ion-content>