.div_title {
    width: 100%;
    height: 40%;
    background: #ffffff;
}
.div_title h1 {
    position: relative;
    top: 100px;
    text-align: center;
    font-size: 72px;
    font-weight: bold;
}

.image_container {
    width: 35%;
    margin: 0 auto;
}
.div_other {
    width: 100%;
    height: 60%;
    background: #99ff99;
}
.div_other img {
    position: absolute;
    // margin: 50px;
    // right: 100px;
    border: 15px solid #000000;
    height: 50%;
    margin: 0 auto;
}

.display_block {
    display: flex;
}