<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="title">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>タイトル</ion-label>
    </ion-tab-button>

    <!--<ion-tab-button tab="member">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>メンバー</ion-label>
    </ion-tab-button>-->

    <ion-tab-button tab="background">
      <ion-icon name="square"></ion-icon>
      <ion-label><ruby>作<rt>つく</rt></ruby>った<ruby>背景<rt>はいけい</rt></ruby></ion-label>
    </ion-tab-button>
<!--
    <ion-tab-button tab="project">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>作ったもの</ion-label>
    </ion-tab-button>
    -->

    <ion-tab-button tab="points">
      <ion-icon name="diamond-outline"></ion-icon>
      <ion-label>アイディアのポイント</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tech">
      <ion-icon name="cog-outline"></ion-icon>
      <ion-label><ruby>技術<rt>ぎじゅつ</rt></ruby>の<ruby>工夫<rt>くふう</rt></ruby></ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
