<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="title">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>タイトル</ion-label>
    </ion-tab-button>

    <!--<ion-tab-button tab="member">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>メンバー</ion-label>
    </ion-tab-button>-->

    <ion-tab-button tab="background">
      <ion-icon name="square"></ion-icon>
      <ion-label>作った背景</ion-label>
    </ion-tab-button>
<!--
    <ion-tab-button tab="project">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>作ったもの</ion-label>
    </ion-tab-button>
    -->

    <ion-tab-button tab="points">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>アイディアのポイント</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tech">
      <ion-icon name="square"></ion-icon>
      <ion-label>技術の工夫</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
