<ion-header>
  <ion-toolbar>
    <ion-title><ion-icon name="star-half-outline"></ion-icon><span class="ion-padding" ><ruby>評価<rt>ひょうか</rt></ruby>する</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div class="ion-padding rate_label"><ruby>点数<rt>てんすう</rt></ruby>: {{rate}} <ruby>点<rt>てん</rt></ruby></div>
    <mat-slider
    class="ion-padding slider"
    thumbLabel
    [(ngModel)] = "rate"
    tickInterval="5"
    step="0.1"
    min="0"
    max="5"
    aria-label="units"></mat-slider>
  </div>

  <ion-button class="ion-padding" expand="block" (click)="postRate()"><span><ruby>点数<rt>てんすう</rt></ruby>を<ruby>決定<rt>けってい</rt></ruby>する</span></ion-button>
  <ion-button class="ion-padding" expand="block" fill="outline" (click)="dismiss()"><span><ruby>戻<rt>もど</rt></ruby>る</span></ion-button>
</ion-content>
